

<%= flash[:error] %>


<%= form_for(:session, url: log_in_path) do |login| %>
<%= login.text_field :username, placeholder: "Enter Username" %>
<%= login.password_field :password, placeholder: "Enter Password" %>
<%= login.submit "Submit" %>
<%= link_to "Make new account", :new_user %>
<% end %>

<h1 class='home-title'>Trailer Tracker</h1>
<%= link_to "Make new account", :new_user %>
