<h1><%= current_user.username %></h1></br>

<%= link_to "Add new movie", :add_movie%></br>
<%= link_to "Search for a movie", :search_movie %></br>
<%= link_to "The Reel", movies_path %></br>
<%= link_to "Watched it!", :watched_movie %></br>
<%= link_to "Log out", log_out_path, method: :delete%></br></br>

<% @current_user_list.each do |entry| %>

<h4><%= entry.movie.title %></h4>
<%= link_to "Watched it!", watched_movie_path(@movie), method: :patch %></br>
Director: <%= entry.movie.director %></br>
Release Date: <%= entry.movie.release_date %></br>
Trailer:</br> 
<div class="embed-responsive embed-responsive-4by3">
<%= embed(entry.movie.trailer) %>
</div>
<%= link_to "Delete", entry.movie, method: :delete %></br>
<%= link_to "Edit", edit_movie_path(entry.movie) %></br></br>
<% end %>

<%= link_to "Add new movie", :add_movie%></br>
<%= link_to "Search for a movie", :search_movie %></br>
<%= link_to "The Reel", movies_path %></br>
<%= link_to "Log out", log_out_path, method: :delete%>