<div class="watched-header">
<h1>Watched It!</h1>
</div>

<% @current_user_list.each do |entry| %>
<% if entry.watch? %>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href='#<%= entry.movie.title.parameterize %>'>
		      <h4><%= entry.movie.title %></h4>
   		  </a>
      </h4>
    </div>
    <div id='<%= entry.movie.title.parameterize %>' class="panel-collapse collapse">
      <div class="panel-body">
        Director: <%= entry.movie.director %></br>
        Release Date: <%= entry.movie.release_date %></br>
        <%= link_to "Delete", entry.movie, method: :delete %></br>
        <div class="embed-responsive embed-responsive-4by3">
          <%= search_embed(entry.movie.trailer) %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>