<div class="reel-header">
<h1> The Reel</h1>
<p>What users are adding</p>
</div>


<% @movies.each do |movie| %>
<div class="panel panel-default">
  <div class="panel-body">	
	<h4> Title: <%= movie.title %> </h4>
	Director: <%= movie.director %></br>
	Release date: <%= movie.release_date %></br>
	<% if movie.comment != nil %>
	Comment: <%= movie.comment %>
	<% end %>
  </div>
  <div class="panel-footer">	
	<% if movie.trailer != nil %>
	<div class="embed-responsive embed-responsive-4by3">
	<%= embed(movie.trailer) %>
	</div></br></br>
	<% end %>
  </div>	
</div>
<% end %>

<%= link_to "Go to my list", :show_user %>