<h1>Add a new movie</h1>

<%= form_for @movie do |movie| %>

Title: <%= movie.text_field :title %>
Director: <%= movie.text_field :director %>
Release Date: <%= movie.text_field :release_date %>

<%= movie.submit "Add moive!" %>

<% end %>

<%= link_to "Go back", :view_all %>