<div class="search-header">
<h1>Search for a trailer</h1>
</div>

<div class="search-area">
<%= form_for(:search, url: search_path) do |search| %>

<%= search.text_field :terms %>

<%= search.submit "Search!" %>

<% end %>
</div>

<% if @results != nil %>
<% @results.videos.each do |r| %>

<div class="search-results">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href='#<%= r.unique_id.parameterize %>'>
          <h4 class="glyphicon glyphicon-plus"> Add trailer</h4>
		</a>
      </h4>
    </div>
    <div id='<%= r.unique_id.parameterize %>' class="panel-collapse collapse">
      <div class="panel-body">
      	<form class="form-inline" role="form">
	    <%= form_for @movie  do |movie| %>
	
		<div class="form-group">
		<%= movie.text_field :title, placeholder: "Title" %>
		</div>
		<div class="form-group">
		<%= movie.text_field :director, placeholder: "Director" %>
		</div>
		<div class="form-group">
		<%= movie.text_field :release_date, placeholder: "Release Date" %>
		</div>
		<div class="form-group">
		<%= movie.hidden_field :trailer, :value => r.unique_id %>
		</div>
		<%= movie.submit "Add movie!" %>
		<% end %>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
<%= search_embed(r.unique_id) %>
</div>
</div>

<% end %>
<% end %>

<script type="text/javascript">
	
var idGrab = function(youtubeId){
	alert(youtubeId);
}

</script>
