<h1>Search for a trailer</h1>

<%= form_for(:search, url: search_path) do |search| %>

<%= search.label :terms %> <%= search.text_field :terms %>

<%= search.submit "Search!" %>

<% end %>

<%= link_to "Go back", :show_user %></br></br>


<% @results.videos.each do |r| %>

<%= search_embed(r.unique_id) %>

<% end %>

