<div class="search-header">
<h1>Search for a trailer</h1>
</div>

<div class="search-area">
<%= form_for(:search, url: search_path) do |search| %>

<%= search.text_field :terms %>

<%= search.submit "Search!" %>

<% end %>
</div>



<% if @results != nil %>
<% @results.videos.each_with_index do |r| %>

<div class="search-results">
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add</button></br>
<div class="embed-responsive embed-responsive-16by9">
<%= search_embed(r.unique_id) %>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Movie Details</h4>
      </div>
      <div class="modal-body">
      	<%= form_for @movie  do |movie| %>

		<div class="form-group">
		<%= movie.label :title %> </br> <%= movie.text_field :title %>
		</div>
		<div class="form-group">
		<%= movie.label :director %> </br> <%= movie.text_field :director %>
		</div>
		<div class="form-group">
		<%= movie.label :release_date %> </br> <%= movie.text_field :release_date %>
		</div>
		<div class="form-group">
		<%= movie.label :trailer %> </br> <%= movie.text_field :trailer %>
		</div></br></br>

		<%= movie.submit "Add movie!" %>
		</form>
		<% end %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<script type="text/javascript">
	
var idGrab = function(youtubeId){
	alert(youtubeId);
}

</script>
