<h1>Search for a trailer</h1>

<%= form_for(:search, url: search_path) do |search| %>

<%= search.label :terms %> <%= search.text_field :terms %>

<%= search.submit "Search!" %>

<% end %>

<%= link_to "Go back", :show_user %></br></br>

<% if @results != nil %>
<% @results.videos.each do |r| %>

<button class="btn btn-primary btn-lg">
Add this movie
</button></br>
<div class="embed-responsive embed-responsive-16by9">
<%= search_embed(r.unique_id) %>
</div>

<% end %>
<% end %>
