<h1>Make a new account</h1>

<% @user.errors.messages.each do |k,v| %>

	<%= k %> : <%= v.join(",") %>

<% end %>

<%= form_for @user do |user| %>

	<%= user.label :name %></br> 
	<%= user.text_field :name %></br></br>
	<%= user.label :username %></br> <%= user.text_field :username %></br></br>
	Password</br> <%= user.password_field :password_digest %></br></br>

	<%= user.submit "Create account!" %>

<% end %>

<%= link_to "Go Back", root_path %>