<h1><%= current_user.username %>'s Movie List</h1></br>


	<% current_user.usermovies.all.each do |movie| %>

	<h4>Movie Title: <%= movie.movie[:title] %></h4>
	<p>Director: <%= movie.movie[:director] %></p> 
	<p>Release date: <%= movie.movie[:release_date] %></p>

	<% end %>

<%= link_to "Add new movie", :add_movie%></br>
<%= link_to "Search for a movie", :search_movie %></br>
<%= link_to "Go back", root_path %>