<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-center navbar-right">
 <li><a href="#">
<%= link_to  "The Reel", movies_path %>
</a></li>
 <li><a href="#">
<%= link_to "My Movie Lists", :show_user %>
</a></li>
 <li><a href="#">
<%= link_to "Watched it! List", :show_watched %>
</a></li>
 <li><a href="#">
<%= link_to "Search for a movie", :search %>
</a></li>
 <li><a href="#">
<%= link_to "Add a movie", :add_movie %>
</a></li>
 <li><a href="#">
<%= link_to "Log out", log_out_path, method: :delete%>
</a></li>
</ul>
</div>
</div>
</nav>