<button type="button" class="btn btn-warning">
<%= link_to "The Reel", movies_path %>
</button>
<button type="button" class="btn btn-warning">
<%= link_to "My Movie Lists", :show_user %>
</button>
<button type="button" class="btn btn-warning">
<%= link_to "Search for a movie", :search %>
</button>
<button type="button" class="btn btn-warning">
<%= link_to "Add a movie", :add_movie %>
</button>
<button type="button" class="btn btn-warning">
<%= link_to "Log out", log_out_path, method: :delete%>
</button>